# generic
*~
*-backups/
_autosave-*
*.bak 

# Operating System files
.DS_Store
Thumbs.db


# Octave
octave-workspace

# MATLAB/Simulink 
slprj/
*.slx.autosave
*.slxc
*.mat
*.mldatx
*.asv
*_ert_rtw/
*_grt_rtw/


# KiCad
*.kicad_prl
*.kicad_*-bak
fp-info-cache
*.lck
[Gg]erber/
[Pp]lots/
[Bb]uild/
*.{erc,drc,rpt}
fp-info-cache
python_scripts/
*-save.kicad_sym
**/*.pretty/*.bak

# LTSPICE
*.{raw,fft,log,plt,net}
*.op.raw
*.tmp
